@model Store.ViewModels.ShoppingCartViewModel
@{
    ViewBag.Title = "Shopping Cart";
}

<h3>
    Leverans till:
</h3>

<div id="update-message">
</div>
<p>@Model.Order.FirstName @Model.Order.LastName</p>
<p> @Model.Order.Email</p>
<p>@Model.Order.Phone </p>
<p>Leveransadress: @Model.Order.Address, @Model.Order.PostalCode @Model.Order.City</p>
<p></p>
<p> </p>


<table class="table table-bordered table-hover">
    <tr>
        <th>
            Vara
        </th>
        <th>
            Pris (st)
        </th>
        <th>
            Antal
        </th>
        <th>Vikt</th>
        <th>Volym</th>
        <th>Ömtåligt</th>

    </tr>

    @foreach (var item in Model.CartItems)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Item.Title,
                "Details", "Store", new { id = item.ItemId }, null)
            </td>
            <td>
                @item.Item.Price
            </td>
            <td>
                @item.Count
            </td>
            <td>
                @item.Item.Weight
            </td>
            <td>
                @item.Item.Volume
            </td>
            <td>
                @item.Item.Fragile kr
            </td>

        </tr>
    }
</table>
<p></p>
<p> Totalt: @Model.CartTotal kr</p>
<p></p>
<p>
    <h4> @Html.ActionLink("Fortsätt shoppa", "Index", "ShoppingCart") </h4>


<p>  </p>
<p>  </p>
<p>  </p>
<h3>
    @Html.ActionLink("Gå vidare till betalning", "End", new { }, null)
</h3>

